@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
:root{
    --navy-blue: #000080 ;
    --dark-blue: hsl(227, 85%, 43%) ;
    --black : rgb(26, 6, 6) ;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);

 }

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;

}
.header .header-1{
    background: #fff;
    color: var(--navy-blue);
    padding: 1.3rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .header-1 .logo {
    color: black;
    font-size: 1.6rem;
    font-weight: bolder;
}
.header .header-1 .logo i{
    color: var(--dark-blue);
}
 .header .header-1 .search-form {
    width:  17.5rem;
    height: 1.8rem;
    border: 2px solid darkblue;
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 5.5rem;
} 

.header .header-1 .search-form input{
    padding: 4px;
    font-size: 1.1rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--dark-blue);
} 
.header .header-1 .search-form label{
    padding-right: 1.5rem;
    color: var(--dark-blue);
    cursor: pointer;
}
.header .header-1 .search-form label:hover{
    color: darkblue;
}
.header .header-1 .icon div,
.header .header-1 .icon a{
    font-size: 1.2rem;
    margin-left: .7em;
    color: #444;
    cursor: pointer;
}
.header .header-1 .icon div:hover,
.header .header-1 .icon a :hover{
    color: var(--navy-blue);
    
}
#search-btn{
    display: none;
}
